<!-- Feedback dialog -->
<div id="FeedbackModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>User feedback</h3>
  </div>
  <div class="modal-body">
    <textarea id="feedbacktext" type="text" placeholder="Write your feedback here... Feature request, bug report..." style="width:515px; height:150px;"></textarea>
  </div>
  <div class="modal-footer">
    <button id="submitfeedbackbutton" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Send</button>
  </div>
</div>